In [47]:
import pandas as pd
import datetime as dt

### First i will import the dataset and perform some Exploratory data analysis (EDA)

In [4]:
flightdata = pd.read_excel('Dataset/Data_train.xlsx')

In [5]:
flightdata.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [8]:
flightdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

In [9]:
flightdata.dropna(inplace=True) #Dropping Null data because we only had 1 row with it.

In [12]:
print(f'In total there are {flightdata["Airline"].nunique()} different airlines present in the dataset')

In total there are 12 different airlines present in the dataset

In [35]:
# Firsly i will explore the price statistics with respect to the airline.
flightdata.groupby('Airline')['Price'].agg(['count','mean'])

                                   count          mean
Airline
Air Asia                             319   5590.260188
Air India                           1751   9612.427756
GoAir                                194   5861.056701
IndiGo                              2053   5673.682903
Jet Airways                         3849  11643.923357
Jet Airways Business                   6  58358.666667
Multiple carriers                   1196  10902.678094
Multiple carriers Premium economy     13  11418.846154
SpiceJet                             818   4338.284841
Trujet                                 1   4140.000000
Vistara                              479   7796.348643
Vistara Premium economy                3   8962.333333

In [29]:
# Checking if the count is correlated to price, then we can just use the count to encode airlines name.
flightdata.groupby('Airline')['Price'].agg(['count','mean']).corr()['count']['mean']

-0.1643089327283783

This shows that the correlation is not strong enough to use count as a representation of airline name.

Using the domain knowledge we can map the airlines into 3 categories, Low, Medium, High

In [32]:
temp_df = flightdata.groupby('Airline')['Price'].mean()

In [39]:
mapping = {}

In [40]:
for airline, meanprice in temp_df.items():
    if meanprice<5000:
        mapping[airline] = 'low'
    elif 5000 < meanprice < 10000:
        mapping[airline] = 'medium'
    else:
        mapping[airline] = 'high'

In [41]:
mapping

{'Air Asia': 'medium',
 'Air India': 'medium',
 'GoAir': 'medium',
 'IndiGo': 'medium',
 'Jet Airways': 'high',
 'Jet Airways Business': 'high',
 'Multiple carriers': 'high',
 'Multiple carriers Premium economy': 'high',
 'SpiceJet': 'low',
 'Trujet': 'low',
 'Vistara': 'medium',
 'Vistara Premium economy': 'medium'}

In [45]:
flightdata['Airline_Tier'] = flightdata['Airline'].map(mapping)

In [46]:
flightdata

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Airline_Tier
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,medium
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,medium
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,high
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,medium
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,medium
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,medium
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,medium
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,high
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,medium
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,medium

Now that we have tackled the first column, i would like to move to second column and break the month of the year into 4 quaters.

In [52]:
flightdata['Date_of_Journey'] = flightdata['Date_of_Journey'].astype('datetime64[ns]')

C:\Users\Kashi\AppData\Local\Temp\ipykernel_23412\1371744703.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  flightdata['Date_of_Journey'] = flightdata['Date_of_Journey'].astype('datetime64[ns]')

In [71]:
flightdata['quarter'] = (flightdata['Date_of_Journey'].dt.month - 1 ) // 3 + 1

In [79]:
flightdata[['quarter', 'Price']].corr()

          quarter     Price
quarter  1.000000 -0.201222
Price   -0.201222  1.000000

Quarter Also does not show a strong correlation with the price.